node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/vendor
/storage/*.key
/storage/pail
/public/hot
/public/storage
Homestead.json
Homestead.yaml
auth.json
*.log
